body {
    background-image: url(assets/background.png);
    
}

.logo {
    width: 40.24px; 
    height: 40px;
    margin-left: 5px;
}

.frame {
    /* Frame 1000003816 */
    margin-right: 10px;
    padding: 0px;

    width: 97px;
    height: 40px;
}

.none-top-bottom-margin {
    margin-top: 0;
    margin-bottom: 0;
}

#unlock-div {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 150;
    font-size: 35px;
    line-height: 91%;

    /* or 64px */
    text-align: center;
    letter-spacing: -0.015em;

    /* Colors/Neutral/White/100% */
    color: #FFFFFF;
}

#power-div {
    /* Unlock to Power your dreams! */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 70px;
    line-height: 91%;

    /* or 64px */
    text-align: center;
    letter-spacing: -0.015em;

    /* Colors/Neutral/White/100% */
    color: #FFFFFF;
}



.stand-a-chance {
    /* Stand a chance to win N3,000,000 everyday for the next 5 days */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29.4318px;
    line-height: 111.5%;

    /* or 33px */
    text-align: center;
    letter-spacing: -0.06em;

    /* Colors/Neutral/White/100% */
    color: #FFFFFF;
}

.how-to-play {
    /* Frame 1000003808 */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 27px;
    gap: 16px;
    
    min-height: 257px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0.39) -213.5%, rgba(255, 255, 255, 0) 100%);
    box-shadow: inset 0px -1px 11px rgba(255, 255, 255, 0.17), inset 0px 2px 0px rgba(255, 255, 255, 0.24);
    border-radius: 8px;

    /* Colors/Neutral/White/100% */


}

.play-heading {
    /* 🚀 How To Play */

    width: 115px;
    height: 26px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;

    /* identical to box height, or 26px */
    text-align: center;

    
}

.play-heading p {
    border: solid;
}

.idea {
    /* Frame 1000003630 */

    /* Auto layout */
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;

}

.play-btn {
    height: 56px;

    background: #ECAB03;
    border-radius: 4px;
}

.left-coin {
    animation-name: leftcoin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes leftcoin {
    from { transform: translateY(0); }
    50% { transform: translateY(-100px); }
    100% { transform: translateY(0); }
    
}

.right-coin {
    animation-name: rightcoin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes rightcoin {
    from { transform: translateY(0); }
    50% { transform: translateY(100px); }
    100% { transform: translateY(0); }
    
}